#<user/group:bin> <controller(s)>      <cgroup>
root              cpuset               /
slurm             cpuset,memory        /slurm
mysql             cpuset,memory        /slurm
munge             cpuset,memory        /slurm
*                 cpuset,memory        /other
